.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pregForm{
  align-self: center;
  text-align: center;
  align-content: center;
  background-color: aquamarine;
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 2em;
}

.pregGreetings{
  align-self: center;
  text-align: center;
  align-content: center;
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 2em;
}

.pregAdvert{
  border-style: solid;
  align-self: center;
  text-align: center;
  align-content: center;
  margin-top: 1em;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 2em;
}

.pregTitle{
  margin-left: 5%;
}

.inputFields {
  text-align: left;
}

/* .credentialWindows{
  max-width: 400px;
} */